@font-face {
    font-family: 'Inter';
    src: url(../font/Inter_24pt-Regular.ttf);
}
*{
    font-family: 'Inter';
}
body{
    margin: 0;
}
button{
    cursor: pointer;
}
/*хедер*/
header{
    background: url(../img/header_back.jpg);
    padding: 0 10%;
    height: 100vh;
    color: white;
    background-size: cover;
}
.all{
    display: flex;
    justify-content: space-between;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}
.image{
    width: 24px;
    height: 24px;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 150px;
}
h2{
    font-size: 32px;
    font-weight: 500;
}
h1{
    font-size: 96px;
    font-style: bold;
}
.texth1{
    margin-bottom: 30px;
    margin-top: 0px;
}
.but{
    margin-top: 50px;
    width: 180px;
    height: 60px;
    color: black;
    background-color: white;
    border: none;
    font-weight: 600;
}

/*содержимое*/
.container{
    background-color: white;
    padding: 0 10%;
    min-height: 540px;
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 190px;
    margin-bottom: 0px;
    align-items: center;
    width: 80%;
}
.num{
    font-size: 64px;
    margin-bottom: 0;
    font-weight: 300;
}
.gr{
    color: gray;
}
.big{
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 60px;
}
.left{
    flex-direction: column;
    margin-top: 0px;
    width: 40%;
}
.right{
    flex-direction: column;
    margin-top: 0px;
    width: 40%;
}
.video{
        padding: 0 10%;
    height: 100vh;
}
#vid{
    width: 100%;
    height: 600px;
}

.container3{
    margin-top: 190px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}
.texth3{
    color: gray;
    font-size: 24px;
    font-weight: 400;
}
.but2{
    margin-top: 50px;
    width: 180px;
    height: 60px;
    color: white;
    background-color: black;
    border: none;
    margin-bottom: 209px;
}
.but3{
    margin-top: 50px;
    width: 180px;
    height: 60px;
    color: white;
    background-color: black;
    border: none;
    margin-bottom: 89px;
}
.square{
    width: 100%;
    height: 400px;
}
.part1{
    margin-top: 89px;
    display: flex;
    width: 40%;
    flex-direction: column;
}
.texts2{
    margin-top: 209px;
}
.part2{
    display: flex;
    width: 40%;
    flex-direction: column;
}

.container4{
    margin-top: 190px;
    padding: 0 10%;
    gap: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 190px;
}
.text2{
    font-size: 36px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}
.slider{
    width: 100%;
    height: 100%;
}

.container5{
 padding: 0 10%;
 margin-top: 190px;
 margin-bottom: 190px;
}
hr{
    color: #1D1D1F;
    width: 100%
}
.block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}
.block p{
    width: 40%;
    color: gray;
}
.block h2{
    font-weight: bold;
}

/*Подвал*/
.footer_container{
    height: 400px;
    background-color: #1D1D1F;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;

}
.block1 h2, .block2 h2{
    color: white;

}
.block1 p{
    color: gray;
    margin-top: 48px;
    margin-bottom: 40px;
}
.block1, .block2{
    margin-top: 90px;
    width: 40%;
}
a{
    text-decoration: none;
    color: white;
}
.footer_input{
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    height: 44px;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.contact{
    display: flex;
    gap: 20px;
}
.contact img:hover{
    opacity: 0.7;
    transition: 0.2s;
}
a:hover{
    color: gray;
    transition: 0.2s;
}